.list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
  margin: 0 25px 10px 25px;
  li {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  &:last-child{
    border-bottom: none;
  }
  &-image {
    border-radius: 50%;
    width: 64px;
  }
  &-content{
    margin-left: 20px;
    h4, p{
      margin: 0;
    }
    h4{
      font-size: 18px;
    }
    p{
      margin-top: 5px;
      color: #aaa;
    }
  }
}
.ant-avatar-circle {
  border: 2px #eb0089c0 solid;
}
