.user-item {
  margin-left: 20px;

  span {
    margin-top: 5px;
  }

  h4,
  p,
  span {
    font-size: 1em;
  }
  .anticon-delete {
    font-size: 25px;
  }

  &-description {
    margin-top: 10px;
  }
}

.ant-avatar-circle {
  border: 2px #eb0089c0 solid;
}